<figure class="snip">
  <div class="image-container">
    <button type="button" class="control-background" (click)="changeCardBackground()">
      Change background
    </button>
    <img [src]="user.background" alt="" />
  </div>
  <figcaption [style.background]="cardBackground">
    <img [src]="user.photo" [alt]="user.name" class="profile" />
    <h2>{{user.name}}<span>{{user.occupation}}</span></h2>
    <p>{{user.note}}</p>
    <a href="#" class="follow">Follow</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>
