.form {
  display: flex;

  > * + * {
    margin-left: 15px;
  }

  &-item {
    flex-grow: 1;
  }

  input,
  button {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 9px;
    height: 100%;
    white-space: nowrap;
  }
}