.logging

  &__entrance,
  &__exit
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between

  &__entrance
    height: 150px
    border: 1px solid gray
    padding: 0 20px
    box-sizing: border-box


  &__input
    height: 25px
    outline: none;
    border: 1px solid gray
    flex: 1;
    padding-left: 20px
    &::placeholder
      color: dray

  &__button
    display: flex
    height: 27px
    width: 60px
    margin-left: 10px
    border: 1px solid gray
    align-items: center
    justify-content: center
    cursor: pointer
    &:hover
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
    &:active
      background darkgrey

  &__error
    color: #9f0000
    border: 1px solid gray
    padding: 20px
    margin-top: 50px
    .logging__button
      width: 100%
