<li class="email-item row unread">
	<div class="people col-sm-3">
		<ul class="mail-icons list-inline">
			<li class="hidden">
				<input type="checkbox" class="mail-select">
			</li>
			<li class="hidden">
				<span class="glyphicon glyphicon-star-empty"></span>
			</li>
			<li>
				<a href="#" style="color:red" (click)="removeEmail()">Delete</a>
			</li>
		</ul>

		<span class="people-names">
			{{email.name}}
		</span>
	</div>
	<!-- people -->

	<div class="message col-sm-7">
		<div class="clipper">
			<h3>{{email.title}}</h3>
			-
			<p>{{email.subject}}</p>
		</div>
	</div>
	<!-- message -->

	<div class="date col-sm-2">
		<div class="pull-right">{{email.getDate()}}</div>
	</div>
	<!-- date -->
</li>