.user-card {
  position: relative;
  background-color: #fafafa;
  padding-top: 120px;

  &__avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    left: 20px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f1f1f1;
  }

  &__description {
    position: relative;
    background-color: #151515;
    padding: 50px 20px 20px 20px;
    line-height: 1.6em;
    color: rgba(255, 255, 255, 0.8);
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  &__post {
  }

  &__button {
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 70%;
    color: #fff;

    &:active {
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
    }
  }
}
