<div class="mail-box">
  <div class="mail-box__content">
    <div class="mail-box__header">
      <h2>Почта</h2>
      <select (change)="onChange($event.target.value)" name="mailbox" id="_mailbox">
        <option value="{{ mailbox._id }}" *ngFor="let mailbox of mailboxes">{{ mailbox.title }}</option>
      </select>
    </div>

    <div class="mail-box__list" *ngIf="filteredLetters && isAuthorize()">
      <mail-item *ngFor="let letter of filteredLetters" [letter]="letter"></mail-item>
      <br>
      <a href="#" (click)=logout()>Выйти</a>
    </div>
  </div>
</div>