<div class="inner">
  <div class="users-list">
    <app-user-card class="users-list__item"
                   [avatar]="'https://pbs.twimg.com/profile_images/597119068995387393/nwHWM7Uq_400x400.jpg'"
                   [username]="'Nikola Tesla'"
                   [post]="'Engineer'"></app-user-card>

    <app-user-card class="users-list__item"
                   [avatar]="'https://pbs.twimg.com/profile_images/603952010082156544/i90o1RPA_400x400.jpg'"
                   [username]="'Albert Einstein'"
                   [post]="'Theoretical physicist'"></app-user-card>

    <app-user-card class="users-list__item"
                   [avatar]="'http://ozlusozluk.com/yazar-resimleri/90/william-shakespeare.jpg'"
                   [username]="'William Shakespeare'"
                   [post]="'Poet, playwright'"></app-user-card>
  </div>
</div>
