.letter__wrapper {
  width: 100%;
  height: 150px;
  border: 2px solid #ffffff;
  background: #DC482E;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
}

.letter__header {
  display: flex;
}

.letter__time,
.letter__title {
  font: bold 32px/36px "CirceRounded", sans-serif;
  color: #ffffff;
}

.letter__title{
  margin-left: auto;
}

.letter__button {
  margin-top: auto;
  width: 100%;
  border-radius: 5px;
  background: #e2e2e2;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}

.letter__button:hover {
  background: #d6d6d6;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.letter__button:active {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}


.letter__button span{
  font: bold 24px "CirceRounded", sans-serif
}
