<h1>
  cards:
</h1>


<app-user-card *ngFor='let user of userList' [user]="user"></app-user-card>




<!-- <app-user-card [photoUrl]="'http://www.savsjobk.se/files/Tecknat_ansikte.jpg'"
[name]="'Stepan'" 
[position]= "'teacher'"  >
</app-user-card>


<app-user-card [photoUrl]="'https://forum.bits.media/uploads/profile/photo-thumb-46151.png'" 
[name]="'Kostya'" 
[position]= "'developer'"  >
</app-user-card>

<app-user-card [photoUrl]="'http://www.iclucinico.it/images/BAMBINA_hnyy6gsn.jpg'" 
[name]="'Natasha'" 
[position]= "'student'"  >
</app-user-card> -->