<div class="logging">
  <div class="logging__entrance">
    <input #entranceInput (keypress)="onSendMail($event, entranceInput.value)" value="{{inputValue}}" placeholder="Введите Ваш email" type="email" class="logging__input">
    <div class="logging__button" (click)="entranceMail(entranceInput.value)">Вход</div>
  </div>
  <a class="logging__registration" routerLink="registration">Регистрация</a>
  <div *ngIf="error" class="logging__error">
    <h2>Ваш email не найде, попробуйте один из этих:</h2>
    <p *ngFor="let mail of mailBoxes">{{mail.title}}</p>
    <br>
    <p><b>Хочешь удалить всё ?</b></p>
    <div class="logging__button" (click)="deleteList()">Жми</div>
  </div>
  <div *ngIf="isListUser" class="logging__error">
    <h2>Нет данных на сервере. Хочешь их загрузить ?</h2>
    <div class="logging__button" (click)="sendList()">Жми</div>
  </div>
</div>
