.mailbox {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 80%;
    box-shadow: 2px 2px 7px -1px rgba(0,0,0,.1);

    h1 {
        margin: 0;
    }

    &-header {
        padding: 20px 30px;
    }
}