h1{
  width: 50%;
  margin: 0 auto;
}
:host div:first-child table {
  float: left;
}

:host div:first-child table tr.selected {
  background-color: rgb(203, 216, 241)
}

:host div:first-child table tr:hover {
  color: gray;
}
